.footer-flex {
  display: flex;
}

.footer {
  display: grid;
  grid-template-columns: [c1] 197px [c2] 197px [c3] 197px [c4] 197px [cl] 197px [cfinal];
  grid-template-rows: [r1] 25px [r2] 25px [r3] 25px [r4] 25px [r5] 25px [r6] 25px [r7] 25px [r8] 25px [r9] 25px [r10] 25px [r11] 25px [r12] 25px [r13] 25px [r14] 25px [r15] 25px [r16] auro [rfinal];
}

.ft-menu h3 {
  color: #333;
  font-size: 14px;
  font-family: nyt-franklin, georgia, "times new roman", times, serif;
}

.ft-menu a,
.subs-side a {
  font-family: nyt-franklin, georgia, "times new roman", times, serif;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.ft-menu a:hover,
.subs-side a:hover {
  text-decoration: underline;
  color: black;
}

.subs-side {
  border-left: 1px solid black;
  padding-left: 10px;
}

.subs-side img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.subs-main-links {
  font-weight: bolder;
}

.subs-other-links {
  font-size: 11px;
}

.ft-links-margin {
  line-height: 25px;
}

.bottom-footer {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 50px;
}

.bottom-footer a {
  text-decoration: none;
  font-family: nyt-franklin, georgia, "times new roman", times, serif;
  color: #666;
}
